
$rusty-red-color: #984B43;
$warm-yellow-color: #EAC67A;
$navy-blue-color: #D5D5D5;
$gun-metal-color: #233237;
$matte-green-color: #00BFA5;

$social-facebook: #3b5998;
$social-github: #263238;
$social-linkedin: #007bb5;
$social-icon-color: white;

$flat-blue-color: #3498DB;
$flat-orange-color: #D35400;
$flat-purple-color: #674172;
$flat-red-color: #C0392B;
$flat-green-color: #006266;

$dark-nav-color: darken($gun_metal_color,8%);

