.footer-container {
  @include xy-grid-container;
  margin-top: rem-calc(60);
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell(auto);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.footer {
  background: $gun-metal-color;
}

.footer a {
  color: white!important;
}

.textwidget p {
  color: white!important;
  padding:8px;
}



